/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --spacing: 1rem;
  --img-width: 30rem;

  /* debugging */
  * {
    /* outline: solid red 1px; */
  }
}

body {
  background-color: lightgray;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  min-width: var(--img-width);
}

#header {
  margin: var(--spacing);

  min-width: fit-content;

  display: grid;
  align-items: start;

  grid-template-columns: repeat(2, auto);

  #nav-div {
    justify-self: end;

    background-color: white;
    text-align: center;

    /* 
    challenges with the sizing/positioning the drop-down-menu:

      -the drop-down-menu needs "position: absolute" to not disrupt DOM flow when revealed

      -i'm placing the drop-down-menu inside the nav-div (where the user hovers over) because it allows the absolute-position to
        automatically render at the right spot (under the nav-div's title)

      -to automatically position the drop-down-menu in the correct vertical position, the nav-div title must fill the un-hovered-nav-div
        (drop-down-menu starts below that div, which now corresponds with the bottom edge of the nav-div)

    */

    /* drop-down-menu is init hidden, so the max-height here is just the h3 element */
    height: min-content;
    /* the drop-down-menu width inherits nav-div's */
    width: 10rem;

    h3 {
      /* padding top and bottom of the h3 sets nav-div height, and makes the drop-down-menu start at bottom edge of nav-div*/
      padding: 0.5rem 0;
    }

    &:hover {
    }

    #nav-drop-down-menu {
      z-index: 1;
      position: absolute;

      background-color: white;

      width: inherit;

      &.hidden {
        max-height: 0;
        overflow: hidden;
      }

      .inner-nav-title {
        margin-bottom: 0.5rem;
        padding: 0.25rem 0;

        border-top: 1px solid black;
        border-bottom: 1px solid black;

        &:hover {
          background-color: black;
          font-weight: bold;
          color: white;

          cursor: pointer;
        }
      }
    }
  }
}

#main-content {
  /* cuts off the wide imgContainer div */
  overflow: hidden;

  #img-carousel-container {
    /* background-color: palevioletred; */

    margin: 0 auto;
    margin-bottom: var(--spacing);

    max-width: var(--img-width);

    #all-carousel-images {
      position: relative;

      /* init as center the first picture. js will edit this to "slide" the wide imgContainer into view.*/
      /* right: calc(0 * (var(--img-width) + 2rem)); */

      display: flex;
      gap: calc(2 * var(--spacing));

      img {
        border-radius: 50%;
        max-width: var(--img-width);
        min-width: var(--img-width);
        max-height: var(--img-width);
        min-height: var(--img-width);

        margin: auto;
      }
    }
  }

  #nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);

    margin-bottom: 3rem;

    .nav-arrow {
      --arrow-size: 2rem;
      width: var(--arrow-size);
      height: var(--arrow-size);

      &:hover {
        transform: scale(1.25);
        cursor: pointer;
      }
    }

    #img-nav-circles {
      display: flex;
      justify-content: center;
      gap: 0.75rem;

      .img-nav-circle {
        --circle-size: 0.666rem;

        height: var(--circle-size);
        width: var(--circle-size);

        background-color: rgb(117, 117, 117);
        border-radius: 50%;

        &.selected {
          transform: scale(1.5);
          background-color: white;
        }

        &:hover {
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }
  }
}
